allow untrusted_app_27 hal_memtrack_default:binder call;
allow untrusted_app_27 hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app_27 proc_vmstat:file open;
allow untrusted_app_27 proc_zoneinfo:file { getattr open read };
allow untrusted_app_27 adb_data_file:dir getattr;
allow untrusted_app_27 adbd_exec:file getattr;
allow untrusted_app_27 anr_data_file:dir { getattr open read };
allow untrusted_app_27 apk_private_data_file:dir getattr;
allow untrusted_app_27 asec_image_file:dir getattr;
allow untrusted_app_27 audioserver_exec:file getattr;
allow untrusted_app_27 backup_data_file:dir getattr;
allow untrusted_app_27 blank_screen_exec:file getattr;
allow untrusted_app_27 blkid_exec:file getattr;
allow untrusted_app_27 bootanim_exec:file getattr;
allow untrusted_app_27 bootchart_data_file:dir { open read };
allow untrusted_app_27 bootstat_exec:file getattr;
allow untrusted_app_27 cgroup:dir { open read };
allow untrusted_app_27 configfs:dir read;
allow untrusted_app_27 e2fs_exec:file getattr;
allow untrusted_app_27 firmware_file:dir { open read };
allow untrusted_app_27 firmware_file:file getattr;
allow untrusted_app_27 firmware_file:lnk_file { getattr read };
allow untrusted_app_27 heapdump_data_file:dir getattr;
allow untrusted_app_27 netutils_wrapper_exec:file getattr;
allow untrusted_app_27 network_watchlist_data_file:dir { open read };
allow untrusted_app_27 persist_file:dir getattr;
allow untrusted_app_27 proc_vmstat:file getattr;
allow untrusted_app_27 pstorefs:dir { open read };
allow untrusted_app_27 rootfs:dir read;
allow untrusted_app_27 rootfs:file getattr;
allow untrusted_app_27 selinuxfs:dir { open read };
allow untrusted_app_27 system_app_data_file:dir search;
allow untrusted_app_27 system_app_data_file:lnk_file read;
allow untrusted_app_27 system_data_file:dir { open read };
allow untrusted_app_27 system_data_file:file open;
allow untrusted_app_27 system_ndebug_socket:sock_file getattr;
allow untrusted_app_27 tombstone_data_file:dir getattr;
allow untrusted_app_27 trace_data_file:dir { getattr open read };
allow untrusted_app_27 user_profile_data_file:dir { open read };
